.product-container {
	width: 80vw;
	margin: auto;
	padding: 60px 0px;
	display: flex;
	justify-content: space-between;
	gap: 100px;
}

.product-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 100px;
}

.product-image {
	width: 400px;
	border-radius: 20px;
}

.product-image:hover {
	filter: brightness(0.9);
	cursor: pointer;
}

.product-thumbnails {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
}
.product-thumbnails img {
	width: 80px;
	border-radius: 20px;
}

.product-main-image img.fade-out {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.product-main-image img.fade-in {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.thumbnail-image:hover {
	border: 1px solid #000000;
	filter: brightness(0.9);
}

.thumbnail-image.active {
	border: 2px solid #f77a26;
	filter: brightness(0.7);
}

.product-right {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-right: 100px;
	justify-content: center;
}

.product-right b {
	color: hsl(26, 100%, 55%);
}

.product-right h1 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2.5rem;
}

.product-right p {
	color: hsl(0, 0%, 48%);
}

.product-right .add-to-cart {
	padding: 10px 40px;
	border: none;
	border-radius: 10px;
	background-color: hsl(26, 100%, 55%);
	color: white;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.1em;
}

.product-right .add-to-cart:hover {
	background-color: hsl(26, 100%, 50%);
}

.product-right .add-to-cart:active {
	background-color: hsl(26, 100%, 44%);
}

.price-new span {
	color: #f77a26;
	background-color: hsl(25, 100%, 94%);
	font-size: small;
	padding: 5px;
	border-radius: 5px;
	margin-left: 10px;
	position: absolute;
	margin-top: 5px;
}

.price-old {
	text-decoration: line-through;
	color: hsl(223, 64%, 98%);
	font-weight: 800;
	opacity: 0.5;
	margin-top: 15px;
	margin-bottom: 40px;
}

.quantity-buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	background-color: hsl(223, 64%, 98%);
	font-weight: 800;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
}

.quantity-buttons button {
	background-color: transparent;
	border: none;
	color: #f77a26;
	font-size: 1.5em;
	cursor: pointer;
}

.quantity-buttons button:hover {
	font-weight: bold;
}

.desc {
	padding: 20px 0px;
	font-size: 1.15em;
}

@media (max-width: 1200px) {
	.product-container {
		width: 95vw;
		gap: 30px;
	}
	.product-left {
		margin: 10px;
	}

	.product-right {
		margin: 10px;
	}
}

@media (max-width: 950px) {
	.product-container {
		flex-direction: column;
		gap: 40px;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.product-left {
		margin: 0;
	}

	.product-right {
		margin: 30px;
	}

	.product-image {
		width: 450px;
	}

	.thumbnail-image {
		width: 150px;
	}

	.cart-button {
		display: flex;
		flex-direction: column;
	}

	.quantity-buttons {
		width: 80%;
		margin: auto;
	}

	.add-to-cart {
		display: flex;
		width: 80%;
		margin: auto;
		margin-top: 20px;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		background-color: #f8f8f8;
		border: 1px solid #ccc;
		border-radius: 5px;
		cursor: pointer;
	}

	.add-to-cart svg {
		margin-right: 8px;
	}

	.add-to-cart:hover {
		background-color: #e0e0e0;
	}

	.price {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (max-width: 490px) {
	.product-main-image {
		width: 90vw;
		margin: auto;
	}
	.product-main-image img {
		width: 100%;
	}

	.product-thumbnails {
		gap: 5px;
	}
	.product-thumbnails img {
		width: 60px;
		border-radius: 10px;
	}
	.desc {
		margin: 0px 0px;
		font-size: 16px;
	}
}
